# Ignorar a pasta venv
venv/

# Ignorar arquivos relacionados ao Python
app/__pycache__/
*.pyc
*.pyo

# Ignorar arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignorar configurações de IDEs comuns (opcional)
.vscode/